@font-face {
    font-family: "globalFont";
    src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'globalFont', Fallback, sans-serif;
}* {
    margin: 0px;
}::-webkit-scrollbar {
    width: 10px;
}::-webkit-scrollbar-track {
    background-color: #dddcdc
}::-webkit-scrollbar-thumb { 
    background-color: #8a8a8a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0px;
    margin-right: 50px;
}

#logo {
    float: left;
    margin: 0;
    top: 0px;
}

#logo p{
    padding-left: 10em;
}

#nav {
    padding-right: 10em;
    top: 0px;
    margin: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(44, 44, 44);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
}

#line {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    width: 80%;
    border-top: 2px solid rgb(157, 157, 157);
}