.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.text {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}
